body{
    /*background-color: #50C878;
    color:#424874; */
    background-color:#7698B3;
    color:#141B41;
    font-family: Helvtica, sans-serif;
    
    margin-left: 200px;
    margin-right: 200px;
}
header{
    color: #50C878;
}
h1{
    font-family: Helvtica, sans-serif;
}
h2{
    font-family: Helvtica, sans-serif;
}
h3{
    font-family: Helvtica, sans-serif;
}
figcaption{
    font-style: italic;
}
a{
    color:#0B5D1E;
}