body{
    /*https://coolors.co/0b5d1e-a4f9c8-7698b3-141b41-50c878 */
    background-color:#7698B3;
    color:#141B41;
    font-family: Helvtica, sans-serif;
    
    margin-left: 200px;
    margin-right: 200px;
}
header{
    color: #50C878;
}
h1{
    font-family: Helvtica, sans-serif;
    text-align: center;
}
h2{
    font-family: Helvtica, sans-serif;
    text-align: center;
}
h3{
    font-family: Helvtica, sans-serif;
    text-align: center;
}
figcaption{
    font-style: italic;
    text-align: center;
}
figure{
    text-align: center;
}
a{
    text-decoration: none;
    color:#0B5D1E;
}
nav{
    text-align: center;  
}
footer{
    text-align: center;
}
.small-image{
    height: 20%;
    width: 20%;
}
td
{
    border:1px solid black;
    padding:10px;
}
th
{
    border:1px solid black;
    padding:10px;
    background-color: #19a339;
    
}
table
{
    margin-left: auto;
    margin-right: auto;
    border-collapse: collapse;
}
table tr:nth-child(even){
    background-color: #50C878;
}
table tr:nth-child(odd){
    background-color: #A4F9C8
}
button
{
    background-color:#0B5D1E ;
    color:#50C878;
}
input{
    color:#50C878;
    text-align: center;
    font-family: Tahoma, sans-serif;
    font-size:medium;
    
}
label{
    text-align: center;
}