<header>

    <div>
        Emerson's Site
    </div>
    
       
    
    <nav>
        <ul>
            <li><a href="index.html"">Home</a></li>
            <li><a href="resume.html">Resume</a></li>
            <li><a href="portfolio.html">Portfolio</a></li>
        </ul>
        <!--
    <div>
        <a href="index.html">Home</a>
    </div>

    <div>
        <a href="resume.html">Resume</a>
    </div>

    <div>
        <a href="resume.html">Resume</a>
    </div>

    <div>
        <a href="portfolio.html ">Portfolio</a>
    </div>
    -->
    </nav>

</header>

<h1>
    test
</h1>