/*https://coolors.co/0ca094-025b92-1f6096-6f848c-f5f5dc*/

body
{
    background-color: #F5F5DC;
    color: #0f8edd;
    margin: 0;
    margin-top: 0;
}

header
{
    text-align: center;
    color: #1f6096;
    background-color: #6f848c;
}
h1,h2,h3
{
color:#025b92;
}
h1
{
margin-top: 0;
}
h2
{
text-align: center;
}
h3
{
    text-align: center;
}
footer
{
    text-align: center;
    background-color: #6f848c;
    color: #1f6096;
    position: absolute;
    bottom: 0;
    width: 100%;
    height: 2.5rem;
}
a
{
    text-decoration: none;
    color:#0ca094;
}
img
{
    display: block;
    margin-left: auto;
    margin-right: auto;
}
p
{
margin-left: 5%;
margin-right: 5%;
}
form
{
    text-align: center;
}
.column 
{
    float: left;
    width: 33.33%;
    padding: 5px;
}
.row::after 
{
    content: "";
    clear: both;
    display: table;
}
.center
{
    text-align: center;
}